@import "tailwindcss";

@theme {
  --font-sans: var(--font-outfit), ui-sans-serif, system-ui, sans-serif;
  --font-display: var(--font-outfit), ui-sans-serif, system-ui, sans-serif;

  --color-brand-blue: #0057FF;
  --color-brand-red: #E11D48;
}

@layer base {
  * {
    @apply border-slate-200;
  }
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

.glass {
  @apply bg-white/80 backdrop-blur-md border border-white/20;
}